#header{
	text-align: center;
}
#feedlist{

}
.feedlement{

}

.profilepicture{
	width: 100px;
	height: 100px;
}

.profilepicture img{
	width: 100%;
	height: 100%;
	border-radius: 100px;

}
.textdiv{

}
.feedtext{

}
.feedtime{

}