/*
De to knappene i bunn
*/
#knapper{
	position: absolute;
	bottom: 0;
}
#avslutt{

}
#milepal{

}



/*
NY MILEPÆL
*/

#milepalform{
	position: fixed;
	margin-top: 50%;
	margin-left: 25%;
}

#milepalknapper{

}
#kryssknapp{

}
#bildeknapp{

}
#okknapp{

}
.dummiebilde{
	position: fixed;
	z-index: -1;
}

/*
AVSLUTT TUR
*/

#avsluttform{
	position: fixed;
	margin-top: 50%;
	margin-left: 25%;
}
#datatur{
	position: horizontal;
}