.content {
	margin-top: 308px;
}



.circular {
      margin: auto;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      background: url(img/larsmonsen.jpg) no-repeat;
      background-size: 100%;
      margin-top: 60px;

      }

#info_wrap {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	font-weight: normal;
}

#info_wrap h1 {
	font-size: 18px;
	font-weight: normal;
}

#info_wrap h2 {
	font-size: 14px;
	font-weight: normal;
}

#info_wrap div {
	width: 33%;
	height: 100%;
	float: left;
	text-align: center;
}

#follow {
	width: 80px;
	padding: 5px 10px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 20px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	color: rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);

}


.segmented-controller li img {
	width: 55px;
	height: 55px;
}

.list_header_wrap {
	position: absolute;
	bottom: -29px;
	background: rgba(255,255,255,0.9);
	color: #c9474d;
	z-index: 99;
	height: 30px;
	width: 100%;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	text-shadow: none;
}



.segmented-controller li span.header {
	display: none;
	color: #c9474d;
	font-size: 20px;
	font-weight: normal;
	position: absolute;
	z-index: 100;
	left: 50%;
	text-transform: uppercase;
	bottom: -27px;
}

.segmented-controller li.active span.header {
	display: block;
}

span.header.turer {
	width: 90px;
	margin-left: -45px;
}

span.header.favoritter {
	width: 120px;
	margin-left: -60px;
}

span.header.stats {
	width: 80px;
	margin-left: -40px;
}

