body {
	/*background: url(img/bg.png) 0px 0px no-repeat!important;*/
}

img#bg {
	width: 100%;
}

.smallerFrame
{
	border-style: outset;
	height: 506px;
	margin: 5px 20px 20px 20px;
	background: white;
	color: #444;

}
.turinfo_wrap {
	padding: 20px;
	position: relative;
}

.addToFavorite {
	position: absolute;
	right: 14px;
	top: 12px;
}


.infoOmTur
{
	text-align: center;
	height: 80px;
	font-size: 16px;
}

p.attributes {
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 3px;
	margin-bottom: 15px;
}

span.lengde {
	padding: 0px 0px 0px 20px;
	margin-left: 20px;
	background: url(img/ikoner/lengde.svg) -3px -3px no-repeat;
	background-size: 24px;
}

span.tid {
	padding: 0px 0px 0px 22px;
	background: url(img/ikoner/tid.svg) -3px -4px no-repeat;
	background-size: 25px;
}

span.nivaa {
	padding: 0px 0px 0px 20px;
	margin-left: 20px;
}

p.story {
	float: left;
	width: 100%;
	text-align: center;
}

.infoOmTur a {
	float: left;
	width: 100%;
	text-align: center;
}


a.button_gaatur {
	padding: 16px 0 13px;
font-size: 20px;
background: #39C099;
color: white;
text-transform: uppercase;
width: 100%;
border: none;
border-radius: 0px;
text-shadow: none;
font-weight: normal;
margin-top: -51px;
}

a.button_gaatur:active {
	padding: 16px 0 13px;
font-size: 20px;
background: #39C099;
	color: white;
	text-transform: uppercase;
	width: 100%;
	border: none;
	border-radius: 0px;
	text-shadow: none;
	box-shadow: none;
}

.map {
	width: 100%;
/*margin-left: -5%;*/
}

.map img
{
	width: 100%;
	height: 100%;
}

.addToFavorite
{
	float: right;
}

#backgroundMap5min
{
	width: 100%;
	height: 100%;
}

#kultTreImage
{
	width: 100%;
	height: 100%;
}

#backgroundMap5min2
{
	width: 100%;
	height: 100%;
}

#kultTreImage2
{
	width: 100%;
	height: 100%;
	
}


.turform{
	color: #444;
	display: none;
	position: fixed;
	margin-top: 70px;
	left: 50%;
	margin-left: -140px;
	background: white;
	width: 280px;
	padding: 0px 0px 0px 0px;
	top: 0px;
}

.turform .header {
	height: 80px;
	width: 100%;
}

.header p {
	float: left;
	font-size: 18px;
	line-height: 4.5;
	text-transform: uppercase;
	margin-left: -12px;
}

#title {
	background: #EEEEEE;
	padding: 5px;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.turform  div img {
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 56px;
}

.turform form {
	padding: 0px 0px;
	border: 0px;
	box-shadow: none;
	margin-top: 10px;
}

.turform textarea {
	height: auto;
	border: 0px;
	box-shadow: none;
	background: #eee;
	margin-top: -9px;
	width: 150px;
	max-width: 150px;
	border-radius: 0px;
}

.turform input {
	box-shadow: none!important;
	border: none!important;
	background: #EEE!important;
}

.turform span.time {
	position: absolute;
	bottom: 9px;
	left: 46px;
	font-size: 12px;
	background: url(img/ikoner/tid.svg) 1px -1px no-repeat;
	background-size: 19px;
	padding-left: 21px;
	padding: 2px 0px 2px 20px;
	color: #999;
}

#tabilde {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0px 20px;
}

#tabilde p {
	float: left;
	line-height: 3.5;
	padding: 0px 20px 0px 10px;

}

.turform button#bildeknapp {
	width: 50px;
	height: 50px;
	background: url(img/ikoner/kamera.svg) 0px 0px no-repeat;
	background-size: 50px;
	border: none;
	float: left;
}

.turform button {
	border: none;
}

#kryssknapp, #forkastknapp {
	background: none;
	color: #ddd;
	float: right;
	margin-right: 20px;
}

#okknapp, #publiserknapp {
	width: 100%;
text-align: center;
background: #39C099;
color: white;
margin: 0px;
padding: 15px 0px;
font-size: 16px;

}

#datatur p {
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
}


.list li {
	height: auto;
	min-height: 17px;
	position: relative;
	padding-left: 50px;
	border: 0px;
	padding-right: 22px;
	padding-top: 10px;
	padding-bottom: 30px;
}

.list li span.username {
	font-weight: bold;
}

.list li .profilepicture {
	height: 40px;
	width: 40px;
	position: absolute;
	left: 0px;
	border-radius: 20px;
	top: 8px;

}

.avsluttTurButton {
	position: absolute;
}

#commentbutton {
	background: url(img/ikoner/kommentar.svg) -1px -3px no-repeat, #39C099;
	background-size: 50px;
	height: 45px;
	width: 238px;
	padding-left: 100px;
	text-align: left;
	padding: 0px;
	color: white;
	padding: 10px 10px 10px 90px;
	text-transform: uppercase;
	margin-left: -49px;
}

#photos {
	margin-top: -17px;
	padding: 0px 10px 10px 10px;
	background: #eee;
}

#photos > ul {
	position: relative;
	font-size: 0;
	white-space: nowrap;
	-webkit-transition: all 0 linear;
	transition: all 0 linear;
	margin-left: -20px;
}

#photos > ul > li {
	display: inline-block;
vertical-align: top;
border: 0px;
}

.tinyFrame {
	border-style: outset;
}

.turform .tinyFrame img {
	margin-right: 7px;
	margin-left: auto;
	width: 70px;
	height: 70px;
}

#takephoto {
	background: url(img/ikoner/kamera_inv.svg) 0px 0px no-repeat, #39C099;
	background-size: 70px;
	width: 70px;
	height: 70px;
}

.list.inset li:last-child {
	/*padding-bottom: 0px;*/
}

#submit_comment {
	float: right;
margin-top: -50px;
width: 38px;
height: 36px;
font-size: 16px;
color: white;
background: #39C099;
}

#difficultyPreference {
	padding: 15px 20px 0px 20px;
height: 42px;
font-size: 16px;
line-height: 2.5;
}


#containerForDifficulty
{
	height: 40px;
	/*width: 125px;*/
	background: none;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  border-radius: 20px;
	  border: 1px solid #DDD;
	  height: 40px;
	  padding: 0px 0px;
	float: right;
	position: relative;
	width: 130px;
	-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

#containerForDifficulty span {
	padding: 10px 15px;
	margin-left: 5px;
	cursor: pointer;
	color: #DDD;
	-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
position: absolute;
z-index: 99;
}


.circle
{
	margin-top: -1px;
	background: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  border: 1px solid #DDD;
  width: 40px;
  height: 40px;
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
left: 43px;
}

span.x
{	
	background: url(img/ikoner/sad.png) -10px -9px no-repeat;
	padding: 0px 0px 0px 2px!important;
	width: 34px;
	height: 38px;
	float: left;
	text-align: center;
	margin-left: 0px!important;
	color: #DDD;
	left: 0px;
	
}

/*span.x.aktiv*/
/*{	
	background: url(img/ikoner/sad_aktiv.svg) -7px -4px no-repeat;
background-size: 50px;
	
}*/

span.normal {	
	background: url(img/ikoner/normal.png) -12px -8px no-repeat;
	padding: 0px 0px 0px 0px!important;
	width: 36px;
	height: 38px;
	float: left;
	text-align: center;
	color: #DDD;
	left: 50%;
	margin-left: -19px!important;
}

/*span.two.aktiv
{	
	background: url(img/ikoner/normal.png) -5px -4px no-repeat;
background-size: 50px;
	
}*/

span.three
{	
background: url(img/ikoner/happy.png) -11px -9px no-repeat;
padding: 0px 0px 0px 2px!important;
width: 34px;
height: 38px;
float: left;
text-align: center;
color: #DDD;
right: 3px;
	
}

/*span.three.aktiv {
	background: url(img/ikoner/happy_aktiv.svg) -5px -4px no-repeat;
background-size: 50px;
}*/

#completeForm {
	width: 100%;
	text-align: center;
	background: #39C099;
	color: white;
	margin: 0px;
	padding: 15px 0px;
	font-size: 16px;
}

#complete_text {
	width: 88%;
	max-width: none;
	margin: 6%;
}

.tripImages img {
	width: 100%;
	margin-top: -50px;
}

.datadisplay{
	bottom: 1%;
	width: 100%;
	background: rgba(27, 27, 27, 0.8);
	position: absolute;
	padding: 10px 0px ;
}

.datatext{
	color: white;
	line-height: 1.5;
	text-align: center;
}

#userText {
	position: absolute;
left: 87px;
top: 21px;
}








