.smallerFrame
{
	border-style: outset;
	border-width: 5px;
	border-color: red;
	height: 100%;

}

.infoOmTur
{
	text-align: center;
}

.map img
{
	width: 100%;
	height: 100%;
}

.addToFavorite
{
	float: right;
}

#backgroundMap5min
{
	width: 100%;
	height: 100%;
}

#kultTreImage
{
	width: 100%;
	height: 100%;
}

#backgroundMap5min2
{
	width: 100%;
	height: 100%;
}

#kultTreImage2
{
	width: 100%;
	height: 100%;
	
}