body {
	background: white!important;
}

h1#add_landmark {
	width: 100%;
	padding: 10px;
	background: #c9474d;
	position: absolute;
	top: 0px;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 20px;
	color: #FFF;
}

.pep{ 
	border-radius: 50%;
	width: 40px; 
	height: 40px; 
	opacity: 0.9;
	background: #39C099; 
	z-index: 5; 
	top: 50%;
	left: 45%;
	position: absolute;
}
.droppable{   
	border-radius: 50%;
	width: 100px; 
	height: 100px; 
	background: rgba(255,255,255, 0.8);
	position: absolute;
}

.droppable img {
	width: 80px;
height: 80px;
}

.droppable.milepal  { 
	top: 45%; 
	left:10%; 
}

.droppable.endepunkt  { 
	top: 45%; 
	right:10%; 
}

.pep-dpa{ 
	width: 120px;
	height: 120px;
}
.backgrounddiv{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -1;
}

.datadisplay{
	bottom: 5%;
	width: 100%;
	background: rgba(255,255,255, 0.8);
	position: absolute;
	padding: 10px 0px ;
}

.datatext{
	color: black;
	line-height: 1.5;
	text-align: center;
}

#avsluttform{

}

.milepalform{
	/*top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;*/
	background-color: white;
}



.turform{
	color: #444;
	display:none;
	position: fixed;
	margin-top: 100px;
	left: 50%;
	margin-left: -120px;
	background: white;
	width: 240px;
	padding: 10px 0px 0px 0px;
}

.turform .header {
	height: 80px;
	width: 100%;
	margin-bottom: 10px;
}

.header p {
	float: left;
	font-size: 18px;
	line-height: 4.5;
	text-transform: uppercase;
	margin-left: -12px;
}


.turform  div img {
	width: 80px;
	height: 80px;
	float: left;
	margin-left: 15px;
}

.turform form {
	padding: 0px 20px;
}

.turform input {
	box-shadow: none!important;
	border: none!important;
	background: #EEE!important;
}

#tabilde {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	padding: 0px 20px;
}

#tabilde p {
	float: left;
	line-height: 3.5;
	padding: 0px 20px 0px 10px;

}

.turform button#bildeknapp {
	width: 50px;
	height: 50px;
	background: url(img/ikoner/kamera.svg) 0px 0px no-repeat;
	background-size: 50px;
	border: none;
	float: left;
}

.turform button {
	border: none;
}

#kryssknapp {
	background: none;
	color: #ddd;
	float: right;
	margin-right: 20px;
}

#okknapp, #publiserknapp {
	width: 100%;
text-align: center;
background: #39C099;
color: white;
margin: 0px;
padding: 15px 0px;
font-size: 16px;

}




