.content {
	margin-top: 308px;
}

.togglebarDiv {
	margin-top: 44px;
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 20px
}

#difficultyPreference {
	padding: 0px 20px 20px 20px; 
	height: 42px;
	font-size: 16px;
	line-height: 2.5;
}

#timePreference {
padding: 8px 20px 20px 20px;
height: 42px;
font-size: 16px;
line-height: 2.5;
}

#containerForTime
{
	position: relative;
}

#sliderbarForTime
{
	border-style: solid;
	border-width: medium;
	height: 30px;
	width: 250px;
	margin-left: 15%;
	border-radius: 25px;
	
}

.mover
{
	border-style: solid;
	border-width: medium;
	border-radius: 25px;
	height: 20px;
	width: 20px;
}


.segmented-controller li img {
	width: 55px;
	height: 55px;
}

.list_header_wrap {
	position: absolute;
	bottom: -29px;
	background: rgba(255,255,255,0.9);
	color: #c9474d;
	z-index: 99;
	height: 30px;
	width: 100%;
	font-weight: normal;
	text-transform: uppercase;
	text-align: left;
	text-shadow: none;
}



.segmented-controller li span.header {
	display: none;
	color: #c9474d;
	font-size: 20px;
	font-weight: normal;
	position: absolute;
	z-index: 100;
	left: 50%;
	text-transform: uppercase;
	bottom: -27px;
}

.segmented-controller li img.arrow {
	display: none;
	height: 16px;
	width: 32px;
	position: absolute;
	bottom: -3px;
	left: 50%;
	margin-left: -15px;
}

.segmented-controller li.active span.header, .segmented-controller li.active img.arrow {
	display: block;
}

span.header.i_naerheten {
	width: 122px;
	margin-left: -61px;
}

span.header.favoritter {
	width: 122px;
	margin-left: -61px;
}

span.header.sok {
	width: 80px;
	margin-left: -40px;
}


.profilepicture{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: -13px;
	margin-right: 20px;
}

.profilepicture img{
	width: 100%;
	height: 100%;
	border-radius: 100px;

}
#sliderbarForTime-slider {
	position: relative;
}

#drag {
	position: absolute;
	right: 28px;
	top: 2px;
	color: #BD4349;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;	
}

#dragtime {
	position: absolute;
	right: 15px;
	top: 2px;
	color: white;
}

#dragzero {
	position: absolute;
	right: 163px;
	top: 1px;
	padding: 1px 0px 0px 2px!important;
	width: 34px;
	height: 38px;
	text-align: center;
	color: #BD4349;
	font-size: 16px;
	line-height: 2.5;
	display: none;
	z-index: 100;
	cursor: pointer;
}

#dragarrow {
	position: absolute;
	right: 163px;
	top: 1px;
	padding: 1px 0px 0px 2px!important;
	width: 34px;
	height: 38px;
	text-align: center;
	color: white;
	font-size: 16px;
	line-height: 2.5;
	background: url(img/ikoner/pil.svg) -6px -4px no-repeat;
background-size: 50px;
}


#containerForDifficulty
{
	height: 40px;
	/*width: 125px;*/
	background: none;
	  -webkit-border-radius: 20px;
	  -moz-border-radius: 20px;
	  border-radius: 20px;
	  border: 1px solid #c9474d;
	  height: 40px;
	  padding: 0px 0px;
	float: right;
	position: relative;
}

#containerForDifficulty span {
	padding: 10px 15px;
	margin-left: 5px;
	cursor: pointer;
	color: #BD4349;
	-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;	
}


.circle
{
	margin-top: -1px;
	background: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 10px;
  border-radius: 20px;
  border: 1px solid #c9474d;
  width: 40px;
  height: 40px;
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
-moz-transition: all 0.3s ease 0s;
-o-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
left: -1px;
}

span.x
{	
	padding: 1px 0px 0px 2px!important;
	width: 34px;
	height: 38px;
	float: left;
	text-align: center;
	margin-left: 0px!important;
	color: #BD4349;
	
}

.one
{
	
}

.two
{
	
}

.three
{
	
}